.card-group {
    gap: 10px;
}

.produkt {
    display: grid;
    grid-template-columns: 30% 1fr;
}

.cirt {
    display: flex;
    align-items: center;
}

.cart-img {
    width: 300px;
    height: 250px;
}

.w-85 {
    width: 85% !important;
}

.flex-wrap {
    gap: 10px;
}

.cart.me-2 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    border-radius: 10px;
}
.carb{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}

p.card-text.col {
    margin-bottom: 0;
    padding: 6px;
    border-radius: 5px;
}

p.card-text.col {
    padding: 6px;
    margin: 0px;
}

.p-1 {
    padding: 6px !important;
}
.news {
    display: flex;
    margin: 20px 0;
}

.news-image {
    flex: 1;
    margin-right: 20px;
}

.news-image img {
    max-width: 100%;
    height: auto;
}

.news-content {
    flex: 3;
}

.news-title {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.news-date {
    font-size: 14px;
    color: #999;
    margin: 5px 0;
}

.news-description {
    font-size: 18px;
    margin: 10px 0;
}

.news-read-more {
    display: inline-block;
    padding: 5px 10px;
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.news-read-more:hover {
    background-color: #0052a3;
}
